//Colors
$PrimaryYellow: #b0b55d;
$PrimaryCardBg: rgba(0, 0, 0, 0.3);
$SecondaryCardBg: rgba(0, 0, 0, 0.7);

//Shadows
$PrimaryShadow: 0px 2px 4px rgba(1, 73, 150, 0.3);

//Transitions
$all01: all 0.1s ease-in-out;

//Border
$PrimaryBorder: 1px outset $PrimaryYellow;
